{% extends 'base2.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}


{% block title  %}
Update patient's profile
{% endblock  %}

{% block lead  %}

{% endblock  %}

{% block main_body  %}
<!--아래 시험해보고 안되면 복귀<form method="POST" action="/Editprofile">
  <div class="form-group">
    <label for="exampleFormControlSelect1">환자의 이름을 선택하세요</label>
    <select name="patient_" class="form-control" id="exampleFormControlSelect1">
      {% for patient in patients %}
      <option value={{patient.id}}>{{patient.name}}</option>
      {% endfor %}
    </select>
  <input type="submit" class="btn btn-primary" value="환자정보조회" />
    
  </div>-->

  <form method="POST" action="/Editprofile">
    <div class="form-group">
      <label for="exampleFormControlSelect1">환자의 이름을 선택하세요</label>
      <select name="patient_" class="form-control" id="exampleFormControlSelect1">
        {% for patient in patients %}
        <option value={{patient.id}}>{{patient.name}}</option>
        {% endfor %}
      </select>
    <input type="submit" class="btn btn-primary" value="환자정보조회" />
      
    </div>
  


  <!-- 환자의 아이디를 조회하면 관련 정보도 떠야할 것 같다 즉, 일단 환자 아이디 고르고 
  오케이 버튼을 누르면 환자 관련 정보가 조회되고 이후 다른 버튼을 누르면 환자의 노쇼관련 예측결과가 나와야 한다.-->
  <!--<label>Text to compare</label>
  <input name="compare_text" style="margin-bottom:10px" class="form-control" type="text" />
  <input type="submit" class="btn btn-primary" value="Compare" />-->
</form>


{% if patient %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ patient.id }}</th>
      <td>{{ patient.name }}</td>
      <td>{{ patient.gender }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.email }}</td>
    </tr>
  </tbody>
</table>
{% endif %}


<form method="POST" action="/api/Editprofile">
  
    <div class="form-group">
      <label for="isname">환자 이름</label>
      <input name="isname" style="margin-bottom:10px" class="form-control" type="text" placeholder="{{ patient.name }}"/>
    </div>
    
    <div class="form-group">
      <label for="isemail">환자 email</label>
      <input name="isemail" style="margin-bottom:10px" class="form-control" type="text" placeholder="{{ patient.email }}"/>
    </div>
  
  
    <div class="form-group">
      <label for="isage">환자 나이</label>
      <input name="isage" style="margin-bottom:10px" class="form-control" type="number" placeholder="{{ patient.age }}세"/>
    </div>
    
  
    <div class="form-group">
      <label for="isgender">환자 성별</label>
      <select name="isgender">
        <option value="{{ patient.gender }}">{{ patient.gender }}</option>
        <option value="1">남성</option>
        <option value="0">여성</option>" . $options . "
      </select>
    </div>
  
    
    <div class="form-group">
      <label for="isscholarship">지원금 수령여부</label>
      <select name="isscholarship">
        <option value="{{ status.scholarship }}">{{ status.scholarship }}</option>
        <option value="1">지원금 수령</option>
        <option value="0">지원금 미수령</option>" . $options . "
      </select>
    </div>
    
    <div class="form-group">
        <label for="ishypertension">고혈압 유무</label>
        <select name="ishypertension">
          <option value="{{ status.hypertension }}">{{ status.hypertension }}</option>
          <option value="0">정상</option>
          <option value="1">고혈압 환자</option>" . $options . "
        </select>
    </div>
    
    <div class="form-group">
      <label for="isdiabetes">당뇨 유무</label>
      <select name="isdiabetes">
        <option value="{{ status.diabetes }}">{{ status.diabetes }}</option>
        <option value="0">정상</option>
        <option value="1">당뇨 환자</option>" . $options . "
      </select>
    </div>
    
    <div class="form-group">
      <label for="isalcoholism">알콜 의존증 유무</label>
      <select name="isalcoholism">
        <option value="{{ status.alcoholism }}">{{ status.alcoholism }}</option>
        <option value="0">정상</option>
        <option value="1">알콜 의존증 환자</option>" . $options . "
      </select>
    </div>
  
    
    <div class="form-group">
      <label for="ishandicap">장애 여부</label>
      <select name="ishandicap">
        <option value="{{ status.handicap }}">{{ status.handicap }}</option>
        <option value="0">정상</option>
        <option value="1">장애 있음</option>" . $options . "
      </select>
    </div>
  
    <div class="form-group">
      <label for="issms_received">예약 안내 문자 수신여부</label>
      <select name="issms_received">
        <option value="{{ status.sms_received }}">{{ status.sms_received }}</option>
        <option value="1">수신</option>
        <option value="0">미수신</option>" . $options . "
      </select>
      
      
      <input type="submit" class="btn btn-primary" value="환자 정보 업데이트" />
      
    </div>
    
 
    
  </form>
  
  
  

{% endblock  %}
